body {
    background-image: url('./Assets/images/bg_casino.jpg');
    background-color: black;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: yellow;
    border: 3px yellow double;
    padding: 10px;
    margin: 5px;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.6);
    /* background-color: white; */

    margin: auto;
    width: 960px;
    height: 640px;
    border: 3px double yellow;
}

.reelline {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reel {
    background: white;
    padding: 20px;
    transform: scale(0.8);
    border: 3px darkgray double;
}


.display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: white;
    font-size: 25px;
}

.digits {
    color: red;
    background: #333333;
    border-radius: 5px;
    border: 2px gray double;
    font-size: 30px;
    padding: 5px 10px 5px 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 20px;
}

.button {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;

    background: greenyellow;
    font-size: 25px;
    font-weight: bold;

    color: black;
    border: 2px black solid;
    box-shadow: 5px 5px 5px black;
    border-radius: 8px;
}

.button_text {
    flex: 1;
}

.red {
    background: #EEEEEE;
}